@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400&family=Short+Stack&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: linear-gradient(to left, crimson, rgb(192, 162, 186));
    background-size: cover;
}

.linker {
    color: darkred;
    text-decoration: none;
}

.linker:hover {
    color: white;
    transition: 0.5s;
}

.navbar-nav {
    align-items: center;
}

@media (min-width: 992px) {
    .nacer {
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nacer1 {
        visibility: hidden;
    }
}

.section {
    position: relative;
    background-color: #ac70d485;
    padding: 35px 10px 5px 13px;
    height: auto;
}

p {
    font-weight: 600;
}

#row {
    border-radius: 50px;
    margin-bottom: 5px;
    padding: 18px;
}

.navbar-toggler {
    background-image: linear-gradient(to left, rgb(20, 220, 127), rgb(223, 65, 191)) !important;
    border: 2px solid rgb(198, 50, 228) !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none !important;
}

.navbar-toggler span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 22px;
    height: 2px;
    border: 1px;
    background: rgba(225, 203, 226, 0.911);
}

.menu_color {
    background-image: linear-gradient(to left, rgb(20, 220, 127), rgb(223, 65, 191)) !important;
    border: 2px solid rgb(198, 50, 228) !important;
}

.marge {
    margin-top: 5px;
}